@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f4f6;
}

/* Wallet Adapter overrides */
.wallet-adapter-button {
    background-color: #512da8;
    padding: 8px 16px;
    border-radius: 6px;
}

.wallet-adapter-button:hover {
    background-color: #4527a0;
}

.wallet-adapter-modal-wrapper {
    background-color: white;
}